<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Localizer["AddOrganization"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="card-title mb-0">@Localizer["OrganizationList"]</h4>

                    <a href="@Url.Action("Add", "Organization")"
                       class="btn btn-sm btn-success">
                        <i class="ti-plus"></i> @Localizer["AddRecord"]
                    </a>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover" id="organizationTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="organizationTableBody">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/pages/organizations/js/index.js"></script>
}